{% load static %}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>GEDEA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "web/bower_components/bootstrap/dist/js/bootstrap.min.js" %} "></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!--<script src="js/jquery.columns.min.js"></script>-->
	
    <!-- Bootstrap Core CSS -->
    <!--<link href="{% static "web/dist/css/bootstrap.min.css" %}" rel="stylesheet">-->


    <!-- Timeline CSS -->
    <link href="{% static "web/dist/css/timeline.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "web/dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "web/bower_components/morrisjs/morris.css" %}" rel="stylesheet">
	<script src="{% static "web/js/jquery.columns.min.js" %}">
    <!-- Custom Fonts -->
    <link href="{% static  "web/bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

	<!-- DataTables CSS -->
    <link href="{% static "web/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <!--<link href="{% static "web/bower_components/datatables-responsive/css/dataTables.responsive.css" %}" rel="stylesheet">-->
    
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<link rel="stylesheet" href="{% static "web/css/clean.css" %}">
</head>

<body>
	<script>
	   // $(function() {
		//   $.getJSON("{% static "web/dataULL.json" %}", function(data) {
		//       $.each(data, function(i, f) {
		//          var tblRow = "<tr width='100%'>" + 
		//           "<td style='overflow: hidden; text-overflow: ellipsis;'>" + f.Filename + "</td>" +
		//           "<td style='overflow: hidden;text-overflow: ellipsis;text-align: center;'>" + f.Extension + "</td>" + 
		//           "<td style='overflow: hidden;text-overflow: ellipsis;text-align: center;'>" + f.Url_Base + "</td>" + 
		//           "<td style='overflow: hidden;text-overflow: ellipsis;text-align: center;'><a href='" + f.Url_Full + "'>url</a></td>" + 
		//           "</tr>"
		//           $(tblRow).appendTo("#dataTable tbody");
		//     	});

   		//	});

	//	}); 
  
		$.ajax({
      url:"{% static "web/dataULL.json" %}",

      dataType: 'json', 
      success: function(json) { 
          example2 = $('#example2').columns({
              data:json, 
              schema: [
                  {"header":"Nombre del fichero", "key":"Filename"},
                  {"header":"Extensión", "key":"Extension"},
                  {"header":"URL", "key":"Url_Full", "template":"Url_Full" },
                  {"header":"URL base", "key":"Url_Base"}
                  
              ]
          }); 
      }
  }); 
	</script>
	
          <div class="navbar navbar-default navbar-ull" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-app-collapse">
                            <span class="sr-only">Desplegar men&uacute; de aplicaci&oacute;n</span>
                            <span class="fa fa-bars fa-stack"></span>
                        </button>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <span class="sr-only">Desplegar men&uacute; de navegaci&oacute;n</span>
                            <span class="fa fa-link fa-stack"></span>
                        </button>
                        <a class="navbar-brand" href="http://www.ull.es/" title="Universidad de La Laguna">Universidad de La Laguna</a>
 
                    </div>

                    <div class="collapse navbar-collapse navbar-main-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios telem&aacute;ticos <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" title="Gesti&oacute;n de perfil de usuario" href="http://usuarios.ull.es/"><i class="fa fa-user"></i> Gesti&oacute;n de perfil de usuario</a></li>
                                    <li><a target="_blank" title="Portal ULL" href="http://portal.ull.es/"><i class="fa fa-folder-open"></i> Portal</a></li>
                                    <li><a target="_blank" title="Sede electr&oacute;nica" href="http://sede.ull.es/"><i class="fa fa-briefcase"></i> Sede electr&oacute;nica</a></li>
                                    <li><a target="_blank" title="Campus Virtual" href="http://www.campusvirtual.ull.es/"><i class="fa fa-pencil"></i> Campus virtual</a></li>
                                    <li><a target="_blank" title="Correo electr&oacute;nico" href="http://ull.edu.es/"><i class="fa fa-envelope"></i> Correo electr&oacute;nico</a></li>
                                    <li><a target="_blank" title="Disco duro virtual"  href="http://ddv.ull.es/"><i class="fa fa-hdd-o"></i> Disco duro virtual</a></li>
                                    <li><a target="_blank" title="Biblioteca digital" href="http://www.bbtk.ull.es/view/institucional/bbtk/Biblioteca_Digital/es"><i class="fa fa-book"></i> Biblioteca digital</a></li>
                                    <li><a target="_blank" title="Eventos" href="http://eventos.ull.es/"><i class="fa fa-calendar"></i> Eventos</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacto <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" href="http://www.ull.es/"><i class="fa fa-globe"></i> P&aacute;gina Web ULL</a></li>
                                    <li><a target="_blank" title="Formulario de contacto" href="http://www.ull.es/view/institucional/ull/Contacto_3/es"><i class="fa fa-list-alt"></i> Formulario de contacto</a></li>
                                    <li><a target="_blank" title="Tel&eacute;fonos" href="http://www.ull.es/view/institucional/ull/Telefonos/es"><i class="fa fa-phone"></i> Directorio telef&oacute;nico</a></li>
                                    <li class="divider"></li>
                                    <li>
                                        <ul class="rrss text-muted list-inline">
                                            <li><a target="_blank" href="http://www.facebook.com/universidaddelalaguna" ><i class="fa fa-facebook-square"></i></a></li>
                                            <li><a target="_blank" href="http://www.tuenti.com/#m=Page&func=index&page_key=1_160_68944913"><i class="fa fa-tumblr-square"></i></a></li>
                                            <li><a target="_blank" href="http://twitter.com/CanalULL"><i class="fa fa-twitter-square"></i></a></li>
                                            <li><a target="_blank" href="http://www.linkedin.com/groups/Universidad-Laguna-2656178"><i class="fa fa-linkedin-square"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

<div id="columns"></div>
            <div class="navbar navbar-default navbar-app" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ol class="breadcrumb">
                            <li class="active" ><a href="{% url 'main' %}">GEDEA - Gesti&oacuten de los documentos con est&aacutendares abiertos</a></li>
            
                        </ol>
                    </div>
                    <div class="collapse navbar-collapse navbar-app-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><i class="fa fa-key"></i> Recordar contrase&#241;a</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-question-circle"></i> Ayuda y soporte <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" title="Portal de servicio" href="http://www.stic.ull.es/info/servicios/servicios/index.asp"><i class="fa fa-globe"></i> Portal de servicio</a></li>
                                    <li><a target="_blank" title="Correo electr&oacute;nico stic@ull.es" href="mailto:stic@ull.es"><i class="fa fa-envelope"></i> stic@ull.es</a></li>
                                    <li><p><i class="fa fa-phone"></i> (+34) 922 31 9180</p></li>
                                    <li><p><i class="fa fa-map-marker"></i> Edificio Central <br/> C/ Delgado Barreto s/n. 38207 <br/>San Crist&oacute;bal de La Laguna</p></li>
                                    <li class="divider"></li>
                                    <li><p>Texto espec&iacute;fico que puede incluir <a href="#">enlaces</a>, texto en <strong>negrita</strong>, <i>cursiva</i> y otros elementos html.</p></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                
                
                
                <div class="col-lg-12">
                
                
                
                
                
              <div class="jumbotron">
                
                
                <h1 class="rte-heading text-center">Información</h1>
                <h4 class="p1 text-center">Información representativa del uso de los Estándares Abiertos en la ULL</h4>
                
                
                </div>
                

        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i style="color: #fff;" class="fa fa-file-pdf-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ positive }}</div>
                                    <div>Ficheros pertencientes a Estándares Abiertos!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Ver detalles</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                     <i style="color: #fff;" class="fa fa-file-word-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{negative}}</div>
                                    <div>Ficheros no pertencientes a Estándares Abiertos!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Ver detalles</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
          
           
             
              <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>Detalles</center>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        	<div id="example2"></div>
                                
                          
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
            </div>
            
            
            
                      
                
                
                
                
                
            </div>
            <!-- /.row -->
            
            
            
            
            

<link href="{% static "web/css/ull.min.css" %}" rel="stylesheet">


    <!--<script src="{% static "web/js/bootstrap.min.js" %}">-->
    <!--[if lt IE 9]><script src="//static.ull.es/v3/dist/js/ullie.min.js"></script><![endif]-->
    <script src="{% static "web/js/jquery.js" %}"></script>
    <!-- jQuery -->
    <!--<script src="{% static "Web/bower_components/jquery/dist/jquery.min.js" % } "></script>-->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "web/bower_components/bootstrap/dist/js/bootstrap.min.js" %} "></script>



    <!-- Custom Theme JavaScript -->
    <script src="{% static "web/dist/js/sb-admin-2.js" %} "></script>
    
     <!-- DataTables JavaScript -->
    <script src="{% static "web/bower_components/datatables/media/js/jquery.dataTables.min.js"%} "></script>
    <script src="{% static "web/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"%} "></script>
    		<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
    

</body>

</html>
